<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
    </script>
    <script>
    function replyFunction(id) {
        var element=document.getElementById("WriteReply"+id);
        var allElements = document.getElementsByClassName("WriteReply");
        for (var i=0;i<allElements.length;i++)
        {
            allElements[i].style.display = 'none';
        }
        element.style.display = 'block';
    }
    </script>
</head>

{% load blogFilters %}
{% load mptt_tags %}
<div class="Page">

    <!-- pop up-->
    <div class="modal fade bd-example-modal-sm" tabindex="-1" id="InvalidPopup2" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm ModalDialogPosition">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title WhiteText" id="ModalLabel2" ></p>
                    <button type="button" class="close WhiteText" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- pop up-->

    <div class="row">
        <div class="col-auto Logo" align="center">
            <input type="image" src="https://st.codeforces.com/s/88434/images/ny-codeforces-logo-with-telegram.png"/>
        </div>
        <div class="col" align="center">
            {% if user %}
                <span class="Links"><a href="/userprofile/{{ user.username }}"><div class="{{ user|userColorClass }}"><u>{{ user.username }}</u></div></a>&nbsp|&nbsp<a href="/entry/logout"><u>Logout</u></a></span>
            {% else %}
            <span class="Links"><a href="/entry/login"><u>Enter</u></a>&nbsp|&nbsp<a href="/entry/register"><u>Register</u></a></span>
            {%  endif %}
        </div>
    </div>
<!--navigation bar-->
    <nav class="navbar navbar-expand-lg navbar-light BorderNav">
      <a class="navbar-brand" href="/blog/">Blog</a>
        <a class="navbar-brand" href="/rating/">Rating</a>
    </nav>
    <!--navigation bar-->



    <div class="Blog">

        <!-- blog part-->
        <div class="BlogName"><h2><a href="/blog/{{ blog.id }}/">{{ blog.blogName | safe }}</a></h2></div>
        <div><b>By <a href="/userprofile/{{ blog.user.username }}/" class="Username"><span class="{{ blog.user|userColorClass }}">{{ blog.user.username }}</span></a></b></div>
        <br>
        <p class="Description">
            {{ blog.description | safe }}
        </p>
        <!-- blog part-->

        <!--votes vala bar of blog-->
        <nav class="navbar navbar-light justify-content-between BorderNav">
            <form class="form-inline" action="#" method="post"> <!-- blog vote(sends blogVote with up or down value)-->
                {% csrf_token %}
                <button type="submit" name="blogVote" value="{{ blog.id }},up" style="background-color:transparent; border-color:transparent;">
                    <img src="https://st.codeforces.com/s/14735/images/actions/voteup.png">
                </button>
                {% if blog.votes < 0 %}
                    <span class="navbar-brand mb-0 h1">&nbsp {{ blog.votes }}</span>
                {% else %}
                    <span class="navbar-brand mb-0 h1">&nbsp +{{ blog.votes }}</span>
                {% endif %}
                <button type="submit" name="blogVote" value="{{ blog.id }},down" style="background-color:transparent; border-color:transparent;">
                    <img src="https://st.codeforces.com/s/14735/images/actions/votedown.png">
                </button>
            </form>
            <form class="form-inline">
                <input type="image" src="https://st.codeforces.com/s/14735/images/blog/user_16x16.png" />
                &nbsp
                    {{ blog.user.username }}
                &nbsp
                <input type="image" src="https://st.codeforces.com/s/14735/images/blog/comments_16x16.png" />
                &nbsp
                {{ noOfComments }}
            </form>
        </nav>
        <!--votes vala bar of blog-->
    </div>

    <!-- comments Heading-->
    <br><br>
    <form class="form-inline">
        <input type="image" src="https://st.codeforces.com/s/75473/images/icons/comments-48x48.png" />
        <span class="CommentHighlight"><h2>Comments({{ noOfComments }})</h2></span>
    </form>
    <!-- comments Heading-->

    <!--comment Box and Link-->
    <div id="CommentLink" align="right"><u>Write Comment?</u><br><br></div>
    <div id="WriteComment">
    <form action="#" method="post">
        {% csrf_token %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-auto" align="center">
                    <figure>
                        <img src="{{ user.profilePhoto }}" width="120" height="90" >
                        <figcaption><a href="/userprofile/{{ user.username }}" style="color:black"><span class="{{ user|userColorClass }}">{{ user.username }}</span></a></figcaption>
                    </figure>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col">
                            <textarea id="exampleFormControlTextarea1" name="commentBox" rows="10" cols="90" autofocus="true"></textarea>
                        </div>
                    </div>
                    <div class="row CommentButtons">
                        <div class="col" >
                            <button type="submit" name="commentButton" value="post">Post</button>
                            <button type="submit" name="commentButton" value="cancel">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </form>

    </div>


    {% load mptt_tags %}


    {% if commentList %}
        {% recursetree commentList %}
            <div class="Children">
                <div class="container CommentMargin">
                    <div class="row">
                        <div class="col" align="right">

                            <form action="#" method="post"> <!-- blog vote(sends blogVote with up or down value)-->
                                {% csrf_token %}
                                <button type="submit" name="commentVote" value="{{ node.id }},up" style="background-color:transparent; border-color:transparent;">
                                    <img src="https://st.codeforces.com/s/75473/images/actions/comment-voteup.png">
                                </button>
                                {% if node.votes < 0 %}
                                    {{ node.votes }}
                                {% else %}
                                    +{{ node.votes }}
                                {% endif %}
                                <button type="submit" name="commentVote" value="{{ node.id }},down" style="background-color:transparent; border-color:transparent;">
                                    <img src="https://st.codeforces.com/s/75473/images/actions/comment-votedown.png">
                                </button>
                            </form>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                          <figure>
                            <img src="{{ node.user.profilePhoto }}" width="120" height="90" >
                            <figcaption align="center"><a href="/userprofile/{{ node.user.username }}" style="color:black"><span class="{{ node.user|userColorClass }}">{{ node.user.username }}</span></a></figcaption>
                          </figure>
                        </div>
                        <div class="col">
                          {{ node.description | safe }}
                          <div id="ReplyLink{{ node.id }}" class="ReplyLink" align="left" onclick="replyFunction('{{ node.id }}')">-> <u>Reply</u></div>
                        </div>
                    </div>
                </div>
                <div id="WriteReply{{ node.id }}" class="WriteReply">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-auto" align="center">
                                    <figure>
                                        <img src="{{ user.profilePhoto }}" width="120" height="90" >
                                        <figcaption><a href="/userprofile/{{ user.username }}" style="color:black"><span class="{{ user|userColorClass }}">{{ user.username }}</span></a></figcaption>
                                    </figure>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col">
                                            <textarea id="exampleFormControlTextarea1" name="commentBox" rows="10" cols="90" autofocus="true"></textarea>
                                        </div>
                                    </div>
                                    <div class="row CommentButtons">
                                        <div class="col" >
                                            <button type="submit" name="replyButton" value="{{ node.id }},post">Post</button>
                                            <button type="submit" name="replyButton" value="{{ node.id }},cancel">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </form>

                </div>

                {% if not node.is_leaf_node %}
                        {{ children }}

                {% endif %}

            </div>
        {% endrecursetree %}

    {% else %}
    <p>No comments</p>
    {% endif %}

    <br><br>
    <hr>
    <footer class="Footer">
        Codeforces(c) Copyright 2010-2018 Mike Mirzayanov<br>
        The only programming contests Web 2.0 platform<br>
        Server time: Jan/07/2019 16:12:41UTC+5.5 (d1).<br>
        <span style="font-size: 0.8em">Privacy Policy</span><br><br>
        <p>Supported by</p>
            <input type="image" src="https://st.codeforces.com/s/88434/images/telegram-100x100.png" width="60" />
            &nbsp &nbsp &nbsp
            <input type="image" src="https://st.codeforces.com/s/88434/images/itmo_small_en-logo.png" width="110" />


    </footer>
</div>





<script type="text/javascript">
    $(document).ready(function(){

        $("#CommentLink").click(function()
        {
            {% if user %}
                $("#WriteComment").show();
                $("#CommentLink").hide();
            {% else %}
                window.location = "/entry/login"
            {% endif %}
        });

        $(".ReplyLink").click(function()
        {
            alert(this.attr());
        });

        {% if popUp %}
            $('#ModalLabel2').html('{{ popUp }}');
            $('#InvalidPopup2').modal({
            });
        {% endif %}
    });


</script>